.building{
	top:104px;
	left: 214px;
	width: 126px;
}

.light{
	top: 200px;
	left: 725px;
}

.truck{
	top: 213px;
	left: 259px;
	width: 529px;
	height: 260px;
	background-image: url(../img/about/4.png);
	z-index:80;
}

.pavement{
	top: 464px;
	left: 361px;
	width: 232px;
	height: 51px;
	background-image: url(../img/about/2.png);
	z-index:30;
}

.grass5{
	left: 170px;
}