.fellow1{
	top: 98px;
	left: 184px;
	width: 155px;
	height: 110px;
	background: url(../img/cooperator/2.png);
	z-index:9;	
	transform:rotateY(3780deg);
    -webkit-transform:rotateY(3780deg); /* Safari and Chrome */
    -moz-transform:rotateY(3780deg); /* Firefox */
	animation: fellow1_frame 1s;
    -moz-animation: fellow1_frame 1s; /* Firefox */
    -webkit-animation: fellow1_frame 1s; /* Safari and Chrome */
    -o-animation: fellow1_frame 1s; /* Opera */

}

.fellow2{
	top: 95px;
	left: 306px;
	width: 207px;
	height: 87px;
	background: url(../img/cooperator/1.png);
	z-index: 9;	
	animation: fellow2_frame 1s;
	-webkit-animation: fellow2_frame 1s; /* Safari and Chrome */
	-moz-animation: fellow2_frame 1s;
	-o-animation: fellow2_frame 1s;
}

.fellow3{
	top: 186px;
	left: 189px;
	width: 153px;
	height: 115px;
	background: url(../img/cooperator/4.png);
	z-index: 9;	
    animation: fellow3_frame 1s; 
	-webkit-animation: fellow3_frame 1s;  /* Safari and Chrome */
	-moz-animation:  fellow3_frame 1s; 
	-o-animation: fellow3_frame 1s; 
}

.element{
	/*border: solid;*/
	position: absolute;
	-moz-background-size:100%; /* Firefox 3.6 */
	-webkit-background-size:100%;
    background-size:100%;
	background-repeat: no-repeat;
}

@ fellow1_frame /* Safari and Chrome */
{
	0% {
		top: -50px;
		left: -50px;
		width: 0px;
		height: 0px;
        transform:rotateY(0deg);
		-webkit-transform:rotateY(0deg); /* Safari and Chrome */
		-moz-transform:rotateY(0deg); /* Firefox */

	}


	100% {	
		top: 98px;
		left: 184px;
		width: 155px;
		height: 110px;
        transform:rotateY(3780deg);
		-webkit-transform:rotateY(3780deg); /* Safari and Chrome */
		-moz-transform:rotateY(3780deg); /* Firefox */

    }
}
@-moz- fellow1_frame /* Safari and Chrome */
{
	0% {
		top: -50px;
		left: -50px;
		width: 0px;
		height: 0px;
        transform:rotateY(0deg);
		-webkit-transform:rotateY(0deg); /* Safari and Chrome */
		-moz-transform:rotateY(0deg); /* Firefox */

	}


	100% {	
		top: 98px;
		left: 184px;
		width: 155px;
		height: 110px;
        transform:rotateY(3780deg);
		-webkit-transform:rotateY(3780deg); /* Safari and Chrome */
		-moz-transform:rotateY(3780deg); /* Firefox */

    }
}

@-webkit-keyframes fellow1_frame /* Safari and Chrome */
{
	0% {
		top: -50px;
		left: -50px;
		width: 0px;
		height: 0px;
        transform:rotateY(0deg);
		-webkit-transform:rotateY(0deg); /* Safari and Chrome */
		-moz-transform:rotateY(0deg); /* Firefox */

	}


	100% {	
		top: 98px;
		left: 184px;
		width: 155px;
		height: 110px;
        transform:rotateY(3780deg);
		-webkit-transform:rotateY(3780deg); /* Safari and Chrome */
		-moz-transform:rotateY(3780deg); /* Firefox */

    }
}

@-o-keyframes fellow1_frame /* Safari and Chrome */
{
	0% {
		top: -50px;
		left: -50px;
		width: 0px;
		height: 0px;
        transform:rotateY(0deg);
		-webkit-transform:rotateY(0deg); /* Safari and Chrome */
		-moz-transform:rotateY(0deg); /* Firefox */

	}


	100% {	
		top: 98px;
		left: 184px;
		width: 155px;
		height: 110px;
        transform:rotateY(3780deg);
		-webkit-transform:rotateY(3780deg); /* Safari and Chrome */
		-moz-transform:rotateY(3780deg); /* Firefox */

    }
}


@-webkit-keyframes fellow2_frame /* Safari and Chrome */
{
	0% {
		top: -50px;
		left: 306px;
		width: 0px;
		height: 0px;
	}


	100% {	
		top: 95px;
		left: 306px;
		width: 207px;
		height: 87px;
		transform: rotate(3600deg);
		-ms-transform: rotate(3600deg); /* IE 9 */
		-webkit-transform: rotate(3600deg); /* Safari and Chrome */
		-o-transform: rotate(3600deg); /* Opera */
		-moz-transform: rotate(3600deg); /* Firefox */
    }
}

@keyframes fellow2_frame /* Safari and Chrome */
{
	0% {
		top: -50px;
		left: 306px;
		width: 0px;
		height: 0px;
	}


	100% {	
		top: 95px;
		left: 306px;
		width: 207px;
		height: 87px;
		transform: rotate(3600deg);
		-ms-transform: rotate(3600deg); /* IE 9 */
		-webkit-transform: rotate(3600deg); /* Safari and Chrome */
		-o-transform: rotate(3600deg); /* Opera */
		-moz-transform: rotate(3600deg); /* Firefox */
    }
}

@-moz-keyframes fellow2_frame /* Safari and Chrome */
{
	0% {
		top: -50px;
		left: 306px;
		width: 0px;
		height: 0px;
	}


	100% {	
		top: 95px;
		left: 306px;
		width: 207px;
		height: 87px;
		transform: rotate(3600deg);
		-ms-transform: rotate(3600deg); /* IE 9 */
		-webkit-transform: rotate(3600deg); /* Safari and Chrome */
		-o-transform: rotate(3600deg); /* Opera */
		-moz-transform: rotate(3600deg); /* Firefox */
    }
}

@-o-keyframes fellow2_frame /* Safari and Chrome */
{
	0% {
		top: -50px;
		left: 306px;
		width: 0px;
		height: 0px;
	}


	100% {	
		top: 95px;
		left: 306px;
		width: 207px;
		height: 87px;
		transform: rotate(3600deg);
		-ms-transform: rotate(3600deg); /* IE 9 */
		-webkit-transform: rotate(3600deg); /* Safari and Chrome */
		-o-transform: rotate(3600deg); /* Opera */
		-moz-transform: rotate(3600deg); /* Firefox */
    }
}

@-webkit-keyframes fellow3_frame /* Safari and Chrome */
{
	0% {
		top: 186px;
		left: -50px;
		width: 0px;
		height: 0px;
	}


	100% {	
		top: 186px;
		left: 189px;
		width: 153px;
		height: 115px;
		transform: rotate(3600deg);
		-ms-transform: rotate(3600deg); /* IE 9 */
		-webkit-transform: rotate(3600deg); /* Safari and Chrome */
		-o-transform: rotate(3600deg); /* Opera */
		-moz-transform: rotate(3600deg); /* Firefox */
    }
}

@keyframes fellow3_frame /* Safari and Chrome */
{
	0% {
		top: 186px;
		left: -50px;
		width: 0px;
		height: 0px;
	}


	100% {	
		top: 186px;
		left: 189px;
		width: 153px;
		height: 115px;
		transform: rotate(3600deg);
		-ms-transform: rotate(3600deg); /* IE 9 */
		-webkit-transform: rotate(3600deg); /* Safari and Chrome */
		-o-transform: rotate(3600deg); /* Opera */
		-moz-transform: rotate(3600deg); /* Firefox */
    }
}

@-moz-keyframes fellow3_frame /* Safari and Chrome */
{
	0% {
		top: 186px;
		left: -50px;
		width: 0px;
		height: 0px;
	}


	100% {	
		top: 186px;
		left: 189px;
		width: 153px;
		height: 115px;
		transform: rotate(3600deg);
		-ms-transform: rotate(3600deg); /* IE 9 */
		-webkit-transform: rotate(3600deg); /* Safari and Chrome */
		-o-transform: rotate(3600deg); /* Opera */
		-moz-transform: rotate(3600deg); /* Firefox */
    }
}

@-o-keyframes fellow3_frame /* Safari and Chrome */
{
	0% {
		top: 186px;
		left: -50px;
		width: 0px;
		height: 0px;
	}


	100% {	
		top: 186px;
		left: 189px;
		width: 153px;
		height: 115px;
		transform: rotate(3600deg);
		-ms-transform: rotate(3600deg); /* IE 9 */
		-webkit-transform: rotate(3600deg); /* Safari and Chrome */
		-o-transform: rotate(3600deg); /* Opera */
		-moz-transform: rotate(3600deg); /* Firefox */
    }
}


