
.cloud1{
	top:70px;
	left: 450px;
	width: 115px;
	height: 62px;
	background-image:url(../img/home/cloud-3.png);
	z-index: 10;
	animation: cloud1_frame 15s linear 0s infinite normal;
	-moz-animation:cloud1_frame 15s linear 0s infinite normal;
	-webkit-animation: cloud1_frame 15s linear 0s infinite normal;
	-o-animation: cloud1_frame 15s linear 0s infinite normal;

}

.cloud2{
	top:130px;
	left: 740px;
	width: 147px;
	height: 77px;
	background-image:url(../img/home/cloud-left.png);
    z-index: 10;
    animation: cloud2_frame 35s linear 0s infinite normal;
	-moz-animation: cloud2_frame 35s linear 0s infinite normal;
	-webkit-animation:  cloud2_frame 35s linear 0s infinite normal;
	-o-animation: cloud2_frame 35s linear 0s infinite normal;
}

.cloud3{
	top:210px;
	left: 110px;
	width: 147px;
	height: 77px;
	background-image:url(../img/home/cloud-right.png);
	z-index: 10;
	animation:  cloud3_frame 45s linear 0s infinite normal;
	-moz-animation:  cloud3_frame 45s linear 0s infinite normal;
	-webkit-animation:   cloud3_frame 45s linear 0s infinite normal;
	-o-animation:  cloud3_frame 45s linear 0s infinite normal;
}

.building{
	top:70px;
	left: 640px;
	width: 169px;
	height: 398px;
	background-image:url(../img/home/grass-1.png);
	z-index: 20;
}

.about_us{
	overflow: hidden;
	top: 159px;
	left: 660px;
	width: 25px;
	height: 21px;
	z-index: 40;
}

.about_us > img{
    position: absolute;
    height: 52px;
    left: -6px;
    top: -1px;
}

.about_us > div{
	top: 32px;
	left: -8px;
	width: 0px;
	height: 0px;
	background-image: url(../img/home/board.png);
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);

}

.about_us > div > a{
	font-size: 24px;
	top: 45px;
	left: 52px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.recruit{
	overflow: hidden;
	top: 280px;
	left: 426px;
	width: 25px;
	height: 40px;
	z-index: 25;
}

#recruit_mask{
	z-index: 50;
}

.recruit > img{
    position: absolute;
    height: 52px;
    left: -6px;
    top: -1px;
}

#recruit_mask > div{
	top: 6px;
	left: -8px;
	width: 0px;
	height: 0px;
	background-image: url(../img/home/board.png);
	transform: rotate(210deg);
	-webkit-transform: rotate(210deg);
	-moz-transform: rotate(210deg);
}

#recruit_mask > div > a{
	font-size: 24px;
	top: 45px;
	left: 52px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.product{
	overflow: hidden;
	top: 474px;
	left: 376px;
	width: 27px;
	height: 40px;
	z-index: 85;
}

#product_mask{
	z-index: 100;
}

.product > img{
    position: absolute;
    height: 52px;
    left: -6px;
    top: -1px;
}

#product_mask > div{
	top: 2px;
	left: 36px;
	width: 0px;
	height: 0px;
	background-image: url(../img/home/board.png);
}

#product_mask > div > a{
	font-size: 24px;
	top: 44px;
	left: 36px;
}

.cooperator{
	overflow: hidden;
	top: 411px;
	left: 565px;
	width: 27px;
	height: 30px;
	z-index: 30;
}
#cooperator_mask{
	z-index: 100;
}

.cooperator > img{
    position: absolute;
    height: 52px;
    left: -6px;
    top: -1px;
}

#cooperator_mask > div{
	top: -6px;
	left: 36px;
	width: 0px;
	height: 0px;
	background-image: url(../img/home/board.png);
}

#cooperator_mask > div > a{
	font-size: 24px;
	top: 44px;
	left: 36px;
}


.grass1{
	top:212px;
	left: 270px;
	width: 407px;
	height: 197px;
	background-image:url(../img/home/grass-large.png);
	z-index: 30;
}

.grass3{
	top:336px;
	left: 153px;
	width: 264px;
	height: 121px;
	background-image:url(../img/home/grass-3-front.png);
	z-index: 40;
}

.grass4{
	top:320px;
	left: 550px;
	width: 291px;
	height: 176px;
	background-image:url(../img/home/grass-4.png);
	z-index: 60;
}

.light{
	top:312px;
	left: 356px;
	width: 48px;
	height: 210px;
	background-image:url(../img/home/s-grass-2.png);
	z-index: 80;
}

.grass5{
	top:495px;
	left: 282px;
	width:136px;
	height: 45px;
	background-image:url(../img/home/s-grass-1.png);
	z-index: 90;
}


@-webkit-keyframes cloud1_frame 
{

    0% {left: 330px; opacity:1;}
    59% {left: 1000px; opacity:1;}
    60% {left: 1001px; opacity:0;}
    61% {left: -110px; opacity:0;}
    62% {left: -110px; opacity:1;}
	100% {left: 330px;opacity:1;}
}

@keyframes cloud1_frame 
{

    0% {left: 330px; opacity:1;}
    59% {left: 1000px; opacity:1;}
    60% {left: 1001px; opacity:0;}
    61% {left: -110px; opacity:0;}
    62% {left: -110px; opacity:1;}
	100% {left: 330px;opacity:1;}
}

@-moz-keyframes cloud1_frame 
{

    0% {left: 330px; opacity:1;}
    59% {left: 1000px; opacity:1;}
    60% {left: 1001px; opacity:0;}
    61% {left: -110px; opacity:0;}
    62% {left: -110px; opacity:1;}
	100% {left: 330px;opacity:1;}
}

@-o-keyframes cloud1_frame
{

    0% {left: 330px; opacity:1;}
    59% {left: 1000px; opacity:1;}
    60% {left: 1001px; opacity:0;}
    61% {left: -110px; opacity:0;}
    62% {left: -110px; opacity:1;}
	100% {left: 330px;opacity:1;}
}

@-webkit-keyframes cloud2_frame 
{

    0% {left: 770px; opacity:1;}
    19% {left: 1000px; opacity:1;}
    20% {left: 1001px; opacity:0;}
    21% {left: -110px; opacity:0;}
    22% {left: -110px; opacity:1;}
	100% {left: 880px;opacity:1;}
}

@keyframes cloud2_frame
{

    0% {left: 770px; opacity:1;}
    19% {left: 1000px; opacity:1;}
    20% {left: 1001px; opacity:0;}
    21% {left: -110px; opacity:0;}
    22% {left: -110px; opacity:1;}
	100% {left: 880px;opacity:1;}
}

@-moz-keyframes cloud2_frame 
{

    0% {left: 770px; opacity:1;}
    19% {left: 1000px; opacity:1;}
    20% {left: 1001px; opacity:0;}
    21% {left: -110px; opacity:0;}
    22% {left: -110px; opacity:1;}
	100% {left: 880px;opacity:1;}
}

@-o-keyframes cloud2_frame 
{

    0% {left: 770px; opacity:1;}
    19% {left: 1000px; opacity:1;}
    20% {left: 1001px; opacity:0;}
    21% {left: -110px; opacity:0;}
    22% {left: -110px; opacity:1;}
	100% {left: 880px;opacity:1;}
}

@-webkit-keyframes cloud3_frame 
{

    0% {left: 110px; opacity:1;}
    79% {left: 1000px; opacity:1;}
    80% {left: 1001px; opacity:0;}
    81% {left: -110px; opacity:0;}
    82% {left: -110px; opacity:1;}
	100% {left: 110px;opacity:1;}
}

@keyframes cloud3_frame 
{

    0% {left: 110px; opacity:1;}
    79% {left: 1000px; opacity:1;}
    80% {left: 1001px; opacity:0;}
    81% {left: -110px; opacity:0;}
    82% {left: -110px; opacity:1;}
	100% {left: 110px;opacity:1;}
}

@-maz-keyframes cloud3_frame 
{

    0% {left: 110px; opacity:1;}
    79% {left: 1000px; opacity:1;}
    80% {left: 1001px; opacity:0;}
    81% {left: -110px; opacity:0;}
    82% {left: -110px; opacity:1;}
	100% {left: 110px;opacity:1;}
}

@-o-keyframes cloud3_frame 
{

    0% {left: 110px; opacity:1;}
    79% {left: 1000px; opacity:1;}
    80% {left: 1001px; opacity:0;}
    81% {left: -110px; opacity:0;}
    82% {left: -110px; opacity:1;}
	100% {left: 110px;opacity:1;}
}




