.building{
	top: 146px;
	left: 334px;
	width: 102px;
}

.road{
    top: 273px;
    left: 303px;	
    width: 503px;	
    height: 256px;
	background-image: url(../img/recruit/9.png);	
    z-index: 30;
}

.road > .car{
	top: 142px;
	left: 40px;
	width: 76px;
	height: 62px;
	background-image: url(../img/recruit/7.png);
}

.road > .popup{
	top: 61px;
	left: -78px;
	width: 134px;
	height: 101px;
	background-image: url(../img/recruit/8.png);
}

.stick{
    top: 73px;
    left: 623px;	
    width: 25px;	
    height: 413px;
	background-image: url(../img/recruit/1.png);	
    z-index: 20;
}

.cehua{
    top: 73px;
    left: 526px;	
    width: 201px;	
    height: 81px;
	background-image: url(../img/recruit/策划.png);	
    z-index: 30;
}

.xinzheng{
    top: 146px;
    left: 630px;	
    width: 183px;	
    height: 94px;
	background-image: url(../img/recruit/行政.png);	
    z-index: 30;
}

.meishu{
    top: 223px;
    left: 490px;	
    width: 154px;	
    height: 80px;
	background-image: url(../img/recruit/美术.png);	
    z-index: 30;
}

.chengxu{
	top: 294px;
    
	left: 634px;	
    width: 182px;	
    height: 86px;
	background-image: url(../img/recruit/程序.png);	
    z-index: 30;
}

.grass1{
	top: 262px;
	left: 123px;	
	width: 269px;
}
.grass5{
top: 505px;
}